@import "mixins";
@import "dashboard";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
  color: black;
}

.AdminContainer {
  @include grid(1fr 4fr, 1rem);
  background-color: gainsboro;

  > aside {
    background-color: white;
    height: 100vh;
    width: 100%;
    // padding: 1rem;
    overflow-y: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    > h1 {
      padding: 1rem 1rem 0rem 2rem;
    }
    > div {
      margin: 0 1rem;
      padding: 2rem 0;
      > h5 {
        @include heading(2px, 600);
        opacity: 0.8;
        margin: 1rem 1rem;
      }
      > ul li {
        border-radius: 0.3rem;
        padding: 0.5rem 0.8rem;
      }
      > ul > li:hover {
        background-color: black;
        cursor: pointer;
      }
      > ul li a {
        padding-left: 0.5rem;
        width: 100vw;
      }
    }
  }
  > main {
    background-color: white;
  }
}
